<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{{translate "global.head.title"}}</title>

    <meta property="og:title" content="{{translate "global.head.title"}}">
    <meta property="og:description" content="{{translate "global.head.description"}}">
    <meta property="og:image" content="{{global.url}}assets/img/onenation_social.jpg">
    <meta property="og:url" content="{{global.url}}{{translate "global.lang"}}">
    
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
    
    {{> owa_analytics}}
  </head>
<body id="{{page_id}}">

{{> body}}

<script src="{{root}}assets/js/app.js"></script>
</body>
</html>
