<section id="main_menu" data-sticky data-top-anchor="manifest:top">
  <ul class="menu align-center" data-magellan>
    <li><a href="{{translate "global.links.manifest"}}">{{translate "global.menu.manifest"}}</a></li>
    <li class="separator"></li>
    <li><a href="{{translate "global.links.vision"}}">{{translate "global.menu.vision"}}</a></li>
    <li class="separator"></li>
    <li><a href="{{translate "global.links.faq"}}">{{translate "global.menu.faq"}}</a></li>
    <li class="separator"></li>
    <li><a href="{{translate "global.links.roadmap"}}">{{translate "global.menu.roadmap"}}</a></li>
    <li class="separator"></li>
    <li><a href="{{translate "global.links.contribute"}}">{{translate "global.menu.contribute"}}</a></li>
  </ul>
</section>