<section id="roadmap" class="grid-container" data-magellan-target="roadmap">
  <div class="grid-x">
    <div class="cell sheet">

      <h2>{{translate "global.roadmap.title"}}</h2>

      <div class="bold-red">
        {{#markdown}}{{translate "roadmap.intro.p1"}}{{/markdown}}
        <p class="text-center font-bold">{{translate "roadmap.intro.version"}} : v{{global.onenation_version}}</p>
        {{#markdown}}{{translate "roadmap.intro.p2"}}{{/markdown}}

        <ul class="menu">
          <li><a href="???">[{{translate "global.roadmap.buttons.github"}}]</a></li>
          <li><a href="???">[{{translate "global.roadmap.buttons.contribute"}}]</a></li>
        </ul>
      </div>

      <div class="todo all-red">
        <h5 class="revert-color">{{translate "roadmap.v1.title"}}</h5>

        <h6>{{translate "roadmap.v1-0.title"}}</h6>
        {{#markdown}}{{translate "roadmap.v1-0.todo"}}{{/markdown}}

        <h6>{{translate "roadmap.v1-1.title"}}</h6>
        {{#markdown}}{{translate "roadmap.v1-1.todo"}}{{/markdown}}
      </div>

      <div class="todo all-gray">
        <h5 class="revert-color">{{translate "roadmap.v2.title"}}</h5>
        {{#markdown}}{{translate "roadmap.v2.todo"}}{{/markdown}}
      </div>


      <div class="todo all-blue">
        <h5 class="revert-color">{{translate "roadmap.v3.title"}}</h5>
        {{#markdown}}{{translate "roadmap.v3.todo"}}{{/markdown}}
      </div>


      <div class="todo all-yellow">
        <h5 class="revert-color">{{translate "roadmap.v4.title"}}</h5>
        {{#markdown}}{{translate "roadmap.v4.todo"}}{{/markdown}}
      </div>

      <div class="todo">
        <h5 class="revert-color">{{translate "roadmap.vfinal.title"}}</h5>
        {{#markdown}}{{translate "roadmap.vfinal.text"}}{{/markdown}}
      </div>

    </div>
  </div>
</section>