<div id="vision" class="grid-container" data-magellan-target="vision">
  <div class="grid-x">
    <div class="cell">
      <h3>{{#markdown}}{{translate "vision.heart.title"}}{{/markdown}}</h3>
      {{#markdown}}{{translate "vision.heart.text"}}{{/markdown}}
    </div>
    
    <div class="cell">
      <h3>{{#markdown}}{{translate "vision.mind.title"}}{{/markdown}}</h3>
      {{#markdown}}{{translate "vision.mind.text"}}{{/markdown}}
    </div>
    
    <div class="cell">
      <h3>{{#markdown}}{{translate "vision.body.title"}}{{/markdown}}</h3>
      {{#markdown}}{{translate "vision.body.text"}}{{/markdown}}
    </div>
  </div>
</div>