<section id="{{translate "global.faq.menu.link"}}" class="section-faq grid-container" data-magellan-target="{{translate "global.faq.menu.link"}}">
  <div class="grid-x grid-padding-y align-center">
    <div class="cell shrink">
      <h2 class="ons-title"><strong><span>¿</span>{{translate "global.faq.title.main"}}<span>?</span></strong></h2>
    </div>
    <div class="cell expanded">
      <ul class="accordion" data-accordion data-multi-expand="true" data-allow-all-closed="true" data-deep-link="true" data-update-history="false" data-deep-link-smudge="true" data-deep-link-smudge-delay="500">
        {{#each (translate "global.faq.main")}}
          <li class="accordion-item" data-accordion-item>
            <a href="#faq-{{@key}}" class="accordion-title">{{this.q}}</a>
            <div class="accordion-content" data-tab-content id="faq-{{@key}}">
              {{#markdown}}{{this.a}}{{/markdown}}
            </div>
          </li>
        {{/each}}
      </ul>
    </div>

    <div class="cell shrink">
      <h4 class="ons-title"><strong>{{translate "global.faq.title.projects"}}</strong></h4>
    </div>
    <div class="cell expanded">
      <ul class="accordion" data-accordion data-multi-expand="true" data-allow-all-closed="true" data-deep-link="true" data-update-history="false" data-deep-link-smudge="true" data-deep-link-smudge-delay="500">
        {{#each (translate "global.faq.projects")}}
          <li class="accordion-item" data-accordion-item>
            <a href="#faq-{{@key}}" class="accordion-title">{{this.q}}</a>
            <div class="accordion-content" data-tab-content id="faq-{{@key}}">
              {{#markdown}}{{this.a}}{{/markdown}}
            </div>
          </li>
        {{/each}}
      </ul>
    </div>
  
    <div class="cell shrink">
      <h4 class="ons-title"><strong>{{translate "global.faq.title.boring"}}</strong></h4>
    </div>
    <div class="cell expanded">
      <ul class="accordion" data-accordion data-multi-expand="true" data-allow-all-closed="true" data-deep-link="true" data-update-history="false" data-deep-link-smudge="true" data-deep-link-smudge-delay="500">
        {{#each (translate "global.faq.boring")}}
          <li class="accordion-item" data-accordion-item>
            <a href="#faq-{{@key}}" class="accordion-title">{{this.q}}</a>
            <div class="accordion-content" data-tab-content id="faq-{{@key}}">
              {{#markdown}}{{this.a}}{{/markdown}}
            </div>
          </li>
        {{/each}}
      </ul>
    </div>
  </div>
</section>