<header id="home_header" class="hide-for-print">
  <div class="grid-container">
    <div class="grid-x align-justify align-middle">
      <div class="logo cell small-9 medium-7">
        <a href="{{root}}{{translate "global.lang"}}">
          <img src="{{ root }}assets/img/onenation_logo.png" alt="One Nation logo">
        </a>
      </div>
      <div class="cell small-3 medium-5 text-right">
        {{> github_ribbon}}
        <a href="/" class="language_select"><span class="hide-for-small-only"><img src="{{ root }}assets/img/icon_lang.png" alt="Language">lang : </span><strong>{{translate "global.lang"}}</strong></a>
      </div>
    </div>
  </div>
</header>