<section id="{{translate "global.roadmap.menu.link"}}" class="section-roadmap grid-container" data-magellan-target="{{translate "global.roadmap.menu.link"}}">
  <div class="ons-sheet">
    <div class="grid-x grid-margin-x grid-padding-y align-center">
      <div class="cell shrink">
        <h2>{{translate "global.roadmap.title"}}</h2>
      </div>

      <div class="cell expanded ons-strong-red">
        {{#markdown}}{{translate "global.roadmap.content.intro.p1"}}{{/markdown}}

        <p class="text-center"><strong>{{translate "global.roadmap.content.intro.version"}} : v{{global.onenation_version}}</strong></p>

        {{#markdown}}{{translate "global.roadmap.content.intro.p2"}}{{/markdown}}

        <p class="text-center">
          <a href="{{global.github.roadmap}}" class="ons-link">{{translate "global.roadmap.buttons.github.text"}}</a>&nbsp;
          <a href="#{{translate "global.contribute.menu.link"}}" class="ons-link">{{translate "global.roadmap.buttons.contribute.text"}}</a>
        </p>
      </div>

      <div class="cell expanded ons-todo ons-all-red">
        <h5 class="ons-label-red">{{translate "global.roadmap.content.v1.title"}}</h5>
        <div class="ons-todo-done">{{#markdown}}{{translate "global.roadmap.content.v1-0.todo"}}{{/markdown}}</div>
        <h6>{{translate "global.roadmap.content.v1-1.title"}}</h6>
        {{#markdown}}{{translate "global.roadmap.content.v1-1.todo"}}{{/markdown}}
      </div>

      <div class="cell expanded ons-todo ons-all-gray">
        <h5 class="ons-label-gray">{{translate "global.roadmap.content.v2.title"}}</h5>
        {{#markdown}}{{translate "global.roadmap.content.v2.todo"}}{{/markdown}}
      </div>


      <div class="cell expanded ons-todo ons-all-blue">
        <h5 class="ons-label-blue">{{translate "global.roadmap.content.v3.title"}}</h5>
        {{#markdown}}{{translate "global.roadmap.content.v3.todo"}}{{/markdown}}
      </div>


      <div class="cell expanded ons-todo ons-all-yellow">
        <h5 class="ons-label-yellow">{{translate "global.roadmap.content.v4.title"}}</h5>
        {{#markdown}}{{translate "global.roadmap.content.v4.todo"}}{{/markdown}}
      </div>

      <div class="cell expanded ons-todo">
        <h5 class="ons-label-black">{{translate "global.roadmap.content.vfinal.title"}}</h5>
        {{#markdown}}{{translate "global.roadmap.content.vfinal.text"}}{{/markdown}}
      </div>
    </div>
  </div>
</section>