<div id="{{translate "global.vision.menu.link"}}" class="section-vision grid-container" data-magellan-target="{{translate "global.vision.menu.link"}}">
  <div class="grid-x grid-padding-x grid-margin-y align-center align-middle">
    
    <!-- HEART -->
    <div class="cell shrink ons-icon">
      <img src="{{root}}assets/img/onenation_heart.png" alt="Heart">
    </div>
    <div class="cell shrink ons-title ons-strong-green">
      <h3>{{#markdown}}{{translate "global.vision.content.heart.title"}}{{/markdown}}</h3>
    </div>
    <div class="cell medium-11 small-expanded ons-text ons-strong-green">
      <div class="">{{#markdown}}{{translate "global.vision.content.heart.text1"}}{{/markdown}}</div>
      <div class="text-right">{{#markdown}}{{translate "global.vision.content.heart.text2"}}{{/markdown}}</div>
      <div class="">{{#markdown}}{{translate "global.vision.content.heart.text3"}}{{/markdown}}</div>
      <div class="text-center">{{#markdown}}{{translate "global.vision.content.heart.text4"}}{{/markdown}}</div>
    </div>
    
    <!-- MIND -->
    <div class="cell shrink ons-icon">
      <img src="{{root}}assets/img/onenation_mind.png" alt="Mind">
    </div>
    <div class="cell shrink ons-title ons-strong-blue">
      <h3>{{#markdown}}{{translate "global.vision.content.mind.title"}}{{/markdown}}</h3>
    </div>
    <div class="cell medium-11 medium-down-expanded ons-text ons-strong-blue">
      {{#markdown}}{{translate "global.vision.content.mind.text"}}{{/markdown}}
    </div>
    
    <!-- BODY -->
    <div class="cell shrink ons-icon">
      <img src="{{root}}assets/img/onenation_body.png" alt="Body">
    </div>
    <div class="cell shrink ons-title ons-strong-red">
      <h3>{{#markdown}}{{translate "global.vision.content.body.title"}}{{/markdown}}</h3>
    </div>
    <div class="cell medium-11 medium-down-expanded ons-text ons-strong-red">
      {{#markdown}}{{translate "global.vision.content.body.text"}}{{/markdown}}
    </div>
    
  </div>
</div>