<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{{translate "global.head.title"}}</title>

    <meta property="og:title" content="{{translate "global.head.meta.og.title"}}">
    <meta property="og:description" content="{{translate "global.head.meta.og.description"}}">
    <meta property="og:image" content="{{root}}assets/img/onenation_social.jpg">
    <meta property="og:url" content="{{global.url}}{{translate "global.lang"}}">
    
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
    <link rel="canonical" href="{{global.url}}{{translate "global.lang"}}">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,700&family=Raleway:ital,wght@0,400;0,600;0,900;1,400&display=swap" rel="stylesheet">
    
    {{> owa_analytics}}
  </head>
<body>

{{> body}}

<script src="{{root}}assets/js/app.js"></script>
</body>
</html>
