<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{head.title}}</title>
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
    <link rel="canonical" href="{{global.url}}{{translate "global.lang"}}">
  </head>
<body>

{{> body}}

<script src="{{root}}assets/js/app.js"></script>
</body>
</html>
